apiVersion: batch/v1
kind: Job

metadata:
  name: {{ user }}-{{ id_short }}
  labels:
    app: jobmonitor
    user: "{{ user }}"
    project: "{{ project }}"
    experiment: "{{ experiment }}"
    job: "{{ job }}"
    job_id: "{{ id }}"
spec:
  template:
    metadata:
      labels:
        app: jobmonitor
        user: "{{ user }}"
        project: "{{ project }}"
        experiment: "{{ experiment }}"
        job: "{{ job }}"
        job_id: "{{ id }}"

    spec:
      restartPolicy: Never

      volumes:
        - name: mlo-scratch
          persistentVolumeClaim:
            claimName: mlo-scratch

      containers:
        - name:  worker
          image: ic-registry.epfl.ch/mlo/jobmonitor_worker
          imagePullPolicy: Always
          env:
            - {name: DATA,                     value: /scratch}
            - {name: JOBMONITOR_RESULTS_DIR,   value: /scratch/results}
            - {name: JOBMONITOR_METADATA_HOST, value: {{ user }}-metadata}
            - {name: JOBMONITOR_TIMESERIES_HOST, value: {{ user }}-timeseries}
          volumeMounts:
            - mountPath: /scratch
              name: mlo-scratch
              subPath: {{ user }}
          {% if resources is defined and resources.gpus is defined %}
          resources:
            limits:
              nvidia.com/gpu: {{ resources.gpus }}
          {% endif %}
          command: ["/entrypoint.sh", "jobrun", "{{ id }}"]
