apiVersion: batch/v1
kind: Job
metadata:
  name: {{ user }}-{{ id_short }}
spec:
  template:
    spec:
      restartPolicy: Never
      containers:
        - name:  worker-{{ id }}
          image: ic-registry.epfl.ch/mlo/jobmonitor_worker
          imagePullPolicy: Always
          env:
            - {name: DATA,                     value: /scratch}
            - {name: JOBMONITOR_RESULTS_DIR,   value: /scratch/results}
            - {name: JOBMONITOR_METADATA_HOST, value: {{ user }}-metadata}
            - {name: JOBMONITOR_TELEGRAF_HOST, value: telegraf-{{ id }}}
          volumeMounts:
            - mountPath: /scratch
              name: mlo-scratch
              subPath: {{ user }}
          {% if resources is defined and resources.gpus is defined %}
          resources:
            limits:
              nvidia.com/gpu: {{ resources.gpus }}
          {% endif %}
          command: ["jobrun", "{{ id }}"]

        - name: telegraf-{{ id }}
          image: ic-registry.epfl.ch/mlo/jobmonitor_telegraf
          env:
            - name: INFLUXDB_HOST
              value: {{ user }}-timeseries
          ports:
            - containerPort: 8092

      volumes:
        - name: mlo-scratch
          persistentVolumeClaim:
            claimName: mlo-scratch
